  <!--The content below is only a placeholder and can be replaced.-->

  <mat-toolbar class="header" class="row">
    <span class="col display-5 font-weight-bold">smart Vente</span>

    <span class="offset-8 col" *ngIf="isloggedin==true">
      <h5>{{ nomuser }} </h5>
      <button class="btn btn-secondary" (click)="logout()">déconnection</button>
    </span>
  </mat-toolbar>
<div class="row ">
  <div class="col col-3  p-4 sidebar" style="height:90vh">
    <mat-list>

      <mat-list-item  role="listitem" style="color: white;" routerLink="/Utilisateur">Liste Utilisateurs</mat-list-item>
      <mat-list-item role="listitem" style="color: white;" routerLink="/Login">Login</mat-list-item>
      <mat-list-item role="listitem" style="color: white;" routerLink="/produit">produit</mat-list-item>
      <mat-list-item role="listitem" style="color: white;" routerLink="/fournisseur">fournisseur</mat-list-item>
      <mat-list-item role="listitem" style="color: white;" routerLink="/client">client</mat-list-item>
    </mat-list>
  </div>

  <div class="col col-9  page-back" style="min-height:90vh">    
    <router-outlet></router-outlet>
  </div>
  
</div>