<div class="w-100 rounded p-5 text-white" style="height: 20%;background:#824f53">
    Formulaire utilisateur
    <button class=" offset-8 btn btn-primary rounded rouded-circle" (click)="initform()" routerLink="/produit">retour</button>
    </div>
    
<mat-card class="mt-2">
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="id">
                
               
              
                <mat-form-field>
                    <input formControlName="nom" matInput placeholder="nom">
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="nomcourt" matInput placeholder="nomcourt">
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="prixbase" matInput placeholder="prixbase">
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="prix" matInput placeholder="prix">
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="seuilmaxremise" matInput placeholder="seuilmaxremise">
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="unite" matInput placeholder="unite">
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controles-container">
  
     
                <mat-form-field>
                    <input formControlName="image" matInput placeholder="image">
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="quantiteinitiale" matInput placeholder="quantiteinitiale">
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="quantiteactuel" matInput placeholder="quantiteactuel">
                </mat-form-field>

                
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>
</mat-card>