<mat-card>
    
    <form [formGroup]="form" class="normal-form" (submit)="login()">
    
    <table >
        <tr>
            <td>
                <mat-form-field>
                    
                    <input  formControlName="ndc" matInput placeholder="login">                   
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <input formControlName="mdp" matInput  placeholder="pass" type="password">
              
                </mat-form-field>
            </td>
        </tr>

        <tr>
            <td>
                
                    <Button type="submit"  class="btn btn-primary">Login</Button>
              
                
            </td>
        </tr>
    </table>
</form>
</mat-card>