<mat-card>
    <table >
        <tr>
            <td>
                <mat-form-field>
                    <input formControlName="login" matInput placeholder="login">
                   
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <input formControlName="password" matInput  placeholder="pass" type="password">
              
                </mat-form-field>
            </td>
        </tr>
    </table>
</mat-card>